<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/static/css/style.css">


</head>
<body>
    <p class="logout">
        <a href="/logout">Logout</a>
    </p>
    <p>
        <form id="search-form" action="/search" method="GET">
            <input name="search_term" type="text" placeholder="Unesite pojam...">
            <input type="submit" value="pretrazi">

            <label for="category">Choose a category:</label>
            
            <select name="category_name" id="category">
                {% for p in products %}
                    <option value="{{p.category}}">{{p.category}}</option>
                {% endfor %}
            </select>
        </form>

    </p>
    <p>
        <form action="/select" method="POST">
            <label for="category">Choose a category:</label>
            
            <select name="category_name" id="category">
                {% for p in products %}
                    <option value="{{p.category}}">{{p.category}}</option>
                {% endfor %}
            </select>

            <input type="submit" value="pretrazi">
        </form> 
    </p>


    <div class="products">
        {% for p in products %}
        <!----m <input type="hidden"  id="my_variable" value="{{ p }}"> ---->
        <div class="clickable-product" src="/product/id/{{p.pid}}">

            <h1> {{p.name}} </h1>
            <img src="{{p.image_src}}" alt = "" id="image_small">
            <p>Cena: {{p.price}}</p> 
            <a href="/product/id/{{p.pid}}">Click Me!</a>          
        </div>

        {% endfor %}

    </div>
</body>
</html>