<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <style>
        img {
            width: 300px;
            height: 300px;
        }

        .products {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .product {
            flex-basis: 30%;
        }

    </style>
</head>
<body>
    <p class="logout">
        <a href="/logout">Logout</a>
    </p>
    <div class="products">
        {% for p in products %}
        <div class="product">
            <h1> {{p.name}} </h1>
            <img src="{{p.image_src}}" alt = "">
            <p>Cena: {{p.price}}</p>            
        </div>

        {% endfor %}

    </div>
</body>
</html>